body{
  background-color: rgb(2,16,58);
}
.navigateur{
  background-color: rgb(2,26,97);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
}
.barRecherche{
  background-color: transparent;
  border-width: 1px;
  margin-right: 5px;
  height:30px;
  width:15rem;
  border-radius: 20px;
  padding-left: 20px;
  color:white;
  transition: transform 0.1s ease-in;

}
.containtBlock{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.searchButton{
  height:30px;
  width:2rem;
  background-color: white;
  border-style: none;
  border-radius: 50%;
  color:black;
  margin-right: 30px;
}
.barRecherche:focus{
  box-shadow: 2px 2px 2px white;
  transform:translate(-0px,-1px);
}
